input,button,select,textarea{
outline:none;
}
textarea{
resize:none;
}

#wrapper{
width:100%;
margin:0px;
}
#chatleft{
float:left;
width:30%;
margin:0px;
}
#ai{
position:relative;
left:70%;
margin-top:30px;
}
#chatroom{
float:left;
margin-left:100px;
padding:40px;
border-left:1px #999999 solid;
}
#displayarea{
width:500px;
height:400px;
}
#inputarea{
margin-top:5px;
width:500px;
height:100px;